networks:
  web:
    name: web
  intercom:
    name: intercom

volumes:
  order_pg_vol:

services:
  traefik:
    image: "traefik:v3.5.2"
    # todo add traefik config
    container_name: traefik
    restart: unless-stopped
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --api.insecure=true
    # todo only expose network web
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web


  orderservice:
    container_name: orderservice
    build: .
    command: [ "/app/ordersystem" ]
    #changed
    depends_on:
      order-postgres:
        condition: service_healthy

    # todo add traefik labels
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.orders-router.rule=Host(`orders.localhost`)"
      - "traefik.http.routers.orders-router.entrypoints=web"
      - "traefik.http.services.orderservice.loadbalancer.server.port=3000"
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432
      - DB_HOST=order-postgres
    networks:
      - intercom
      - web

  sws:
    image: joseluisq/static-web-server:latest
    # todo add frontend folder as volume
    volumes:
      - ./frontend:/public:ro
    # todo setup environment variables to expose port 80 and serve the frontend folder
    environment:
      - SERVER_PORT=80
    # todo add traefik labels
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend-router.rule=Host(`localhost`)"
      - "traefik.http.routers.frontend-router.entrypoints=web"
      - "traefik.http.services.sws.loadbalancer.server.port=80"
    networks:
      - web

  order-postgres:
    image: postgres:latest
    restart: always
    networks:
      - intercom
    volumes:
      - order_pg_vol:/var/lib/postgresql
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432

    #change
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5